################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/39ad7579-6b66-4c4d-8d08-b98dcd1c32a0.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/39ad7579-6b66-4c4d-8d08-b98dcd1c32a0.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/8bcf0ff3-71f2-4ff5-954f-05be2c83381e.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/929cdd82-fd9b-4990-a213-79f912f59ce2.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/bceac575-75eb-413f-ba7e-3b1f14fce32c.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/dd394e2f-1dd0-42f1-bdb8-a744a9757fd4.vsidx
/.vs/LinuxAPIDistibutorOfFiles/FileContentIndex/ff21960a-a0b1-4662-b741-c2684dabb665.vsidx
/.vs
